Re-merging data because of lost data

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import re

In [39]:
# data merged, includes hd2017, effy2017, diverse_ind, intl_pct
data = pd.read_csv('Data/Data Merged.csv')
#data.head()

In [40]:
# US News etc, includes US news ranking, list of good international universities, out of state tuition,
# calculated various graduation rates etc
usnews274 = pd.read_csv('Data/US News etc 274.csv')

In [42]:
data_merged = pd.merge(data, usnews274, how = 'left', on = 'UNITID')
data_merged.head()
data_merged.shape

(3221, 173)

In [4]:
#calculating graducation rate
gr = pd.read_csv('Data/gr2017.csv')
gr_4yr = gr[gr.GRTYPE == 3]
gr_cohort = gr[gr.GRTYPE == 2]
data_merged = pd.merge(data_merged, gr_4yr, how = 'left', on = 'UNITID')

0            NaN
1       0.590909
2       0.571429
3            NaN
4       0.729323
5            NaN
6            NaN
7            NaN
8       0.500000
9            NaN
10           NaN
11           NaN
12           NaN
13           NaN
14           NaN
15           NaN
16           NaN
17           NaN
18           NaN
19           NaN
20           NaN
21           NaN
22           NaN
23           NaN
24           NaN
25           NaN
26           NaN
27           NaN
28           NaN
29           NaN
          ...
3191         NaN
3192         NaN
3193         NaN
3194         NaN
3195         NaN
3196         NaN
3197         NaN
3198         NaN
3199         NaN
3200         NaN
3201         NaN
3202         NaN
3203         NaN
3204         NaN
3205         NaN
3206         NaN
3207         NaN
3208         NaN
3209         NaN
3210         NaN
3211         NaN
3212         NaN
3213         NaN
3214         NaN
3215         NaN
3216         NaN
3217         NaN
3218         NaN
3219         NaN
3220         NaN
Name: GRNRALT_rate, Length: 3221, dtype: float64

# adding internationalstudent.com

In [3]:
data_merged = pd.read_csv('Data/Data Merged.csv')
data_merged.head()

,UNITID,EFFYLEV,LSTUDY,XEYTOTLT,EFYTOTLT,XEYTOTLM,EFYTOTLM,XEYTOTLW,EFYTOTLW,XEFYAIAT,...,WEBADDR_cleaned,annual_cost,avg_award,inst_name,intl_awarded,link,state_init,state_name,total_intl,link_cleaned
0,100654,2,1,R,5207,R,2286,R,2921,R,...,aamu.edu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,100663,2,1,R,13308,R,5528,R,7780,R,...,uab.edu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,100706,2,1,R,7519,R,4287,R,3232,R,...,uah.edu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,100724,2,1,R,5229,R,2024,R,3205,R,...,alasu.edu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,100751,2,1,R,35625,R,15883,R,19742,R,...,ua.edu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
scholarship = pd.read_csv('Data/InternationalStudent_com.csv')
scholarship.head()
scholarship.shape

(332, 8)

In [7]:
from fuzzywuzzy import fuzz
print(scholarship.inst_name[1])
print(data_merged.INSTNM[9])
fuzz.ratio(scholarship.inst_name[1], data_merged.INSTNM[9])

Harding University
Harding University

100

In [44]:
len(set(scholarship.inst_name) & set(data_merged.INSTNM))
# 246 exact same names

246

'http://www.coloradocollege.edu'

In [45]:
# try matching url
url1 = data_merged.WEBADDR
url1_cleaned = []
for url in url1:
    url = url.lower()
    url = re.sub('http://','', url)
    url = re.sub('https://','', url)
    url = re.sub('www.','',url)
    url = re.sub('/','', url)
    url1_cleaned.append(url)
#url1_cleaned

In [50]:
data_merged.loc[:,'WEBADDR_cleaned'] = url1_cleaned

In [52]:
#data_merged.head()

In [34]:
url2 = scholarship.link
url2_cleaned = []
for url in url2:
    url = url.lower()
    url = re.sub('http://','', url)
    url = re.sub('https://','', url)
    url = re.sub('http//','', url)
    url = re.sub('www.','',url)
    url = re.sub('.edu\D+','.edu', url)
    url = re.sub('admissions.','',url)
    url2_cleaned.append(url)
#url2_cleaned

In [53]:
scholarship.loc[:,'link_cleaned'] = url2_cleaned

In [46]:
len(set(url1_cleaned) & set(url2_cleaned)) # 285 exact matches

285

In [56]:
# merge
data_merged_tmp = pd.merge(data_merged, scholarship, how = 'left', left_on = 'WEBADDR_cleaned', right_on = 'link_cleaned')
data_merged_tmp.head()
data_merged_tmp.to_csv('Data/Data Merged tmp.csv', index = False)

In [57]:
data_merged = data_merged_tmp
data_merged.to_csv('Data/Data Merged.csv', index = False)